@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

body {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
}
