@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

body {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 110%;
}

input {
  margin: 15px 0;
  border: solid #000 1px;
  padding: 2px 7px;
}

input[type=text] {
  width: 50%;
}

img {
  border: solid #888 1px;
}

figcaption {
  text-align: center;
  color: #424242;
  font-size: 0.8rem;
}

.info-box {
  border-left: solid #2C5CC4 9px;
  padding: 0 8px;
  background-color: #EBEBEB;
  white-space: pre-line;
  word-break: break-word;
  line-height: 20px;
}

.img-wrapper {
  margin: 1rem;
  max-width: 445px;
  width: 80%;
}

.img-wrapper > img {
  width: 100%;
}