@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

body {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.info-box {
  border-left: solid #2C5CC4 9px;
  padding: 0 8px;
  background-color: #EBEBEB;
  white-space: pre-line;
  word-break: break-word;
  line-height: 20px;
}